{% include 'header.html.twig'%}
        <ul id="navigation">
        {% for item in dado %}
                <li>{{item.id}}</li>
                <li>{{item.nome}}</li>
        {% endfor %}
                </ul>
            
          
            
            {%if not filtro.empty %}
<div class="container">
                {{filtro}}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Lista
                    </div>
            </div>
            {%else%}
            <h3>Dados não encontrados</h3>
            {%endif %}
 {% include 'footer.html.twig'%}
