{% include 'header.html.twig'%}
{% include 'menu.html.twig'%}
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <a class="" href="/orgao" type="button" data-toggle="modal" data-target="#colaboradores" style="margin-left: 35px"><i class="icon-hdd"></i> Novo</a>
    </div>
</div> 
<div  class="container">
    <div class="row">
        <div class="span8">
            <table class="table table-bordered table-hover" >
                <tr>
                    <th style="width: 10px;">ID</th>
                    <th class="span2">Nome</th>
                    <th class="span1">Acão</th>

                </tr>
                <tbody>

            {% for item in dado %}
                    <tr>

                        <td>{{item.id }}</td>
                        <td>{{item.nome }}</td>
                        <td>
                            <a id="um" class="btn btn-primary" href="/orgao/edite/{{item.id}}" ><i class="icon-edit"></i> Editar</a> 
                            <a class="btn btn-primary" href="/orgao/delete/{{item.id}}"><i class="icon-remove"></i> deletar</a>
                        </td>

                    </tr>

            {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>


<!--<a id="open" href="#">tetste</a>
<div id="dialog-modal" title="Basic modal dialog">
    <p>Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.</p>
</div>-->


{% include 'footer.html.twig'%}