{% include 'header.html.twig'%}
{% include 'menu.html.twig'%}
<div class="container" style="height: 400px;">
    <div class="row">
        <div class="span4">
            <p style="margin-top: 50px">Pensamos demasiadamente
                Sentimos muito pouco<br>
                Necessitamos mais de humildade<br>
                Que de máquinas.<br>
                Mais de bondade e ternura<br>
                Que de inteligência.<br>
                Sem isso,<br>
                A vida se tornará violenta e<br>
                Tudo se perderá.<br>
                Charles Chaplin<br>
            </p>
        </div>
        <div class="span4">
            <p style="margin-top: 50px">Pensamos demasiadamente
                Sentimos muito pouco<br>
                Necessitamos mais de humildade<br>
                Que de máquinas.<br>
                Mais de bondade e ternura<br>
                Que de inteligência.<br>
                Sem isso,<br>
                A vida se tornará violenta e<br>
                Tudo se perderá.<br>
                Charles Chaplin<br>
            </p>
        </div>
        <div class="span4">
            <p style="margin-top: 50px">Pensamos demasiadamente
                Sentimos muito pouco<br>
                Necessitamos mais de humildade<br>
                Que de máquinas.<br>
                Mais de bondade e ternura<br>
                Que de inteligência.<br>
                Sem isso,<br>
                A vida se tornará violenta e<br>
                Tudo se perderá.<br>
                Charles Chaplin<br>
            </p>
        </div>
    </div>
</div>

{% include 'footer.html.twig'%}