{# empty Twig template #}
<div id="responsavel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Cadastro do Responsável</h3>
    </div>
        <form class="form-horizontal" method="post" action="">
            <fieldset>
                <!-- Text input-->
                <div class="control-group">
                   
                    
                    <div class="controls">
                        <input id="id" name="id" class="input-xlarge" type="hidden">
                        
                    </div>
                    <br>
                    <label class="control-label">Nome</label>
                    <div class="controls">
                        <input id="orgao" name="nome_pai" placeholder="do Pai" class="input-xlarge" type="text">
                        
                    </div>
                    <br>
                    
                    <label class="control-label">profissão</label>
                    <div class="controls">
                        <input id="orgao" name="profissao_pai" placeholder="do Pai" class="input-xlarge" type="text">                   
                    </div>
                    <br>
                    
                    <label class="control-label">Local de</label>
                    <div class="controls">
                        <input id="orgao" name="local_trabalho_pai" placeholder="trabalho do Pai" class="input-xlarge" type="text">
                    </div>
                    <br>
                    
                    <label class="control-label">Nome</label>
                    <div class="controls">
                        <input id="orgao" name="nome_mae" placeholder="da mãe" class="input-xlarge" type="text">
                    </div>
                    
                    <br>
                    
                    <label class="control-label">profissão</label>
                    <div class="controls">
                        <input id="orgao" name="nome_mae" placeholder="da mãe" class="input-xlarge" type="text">
                    </div>
                     <br>
                    
                    <label class="control-label">Local de</label>
                    <div class="controls">
                        <input id="orgao" name="loca_trabalho_mae" placeholder="da mãe" class="input-xlarge" type="text">
                    </div>
                    
                    <br>
                    
                    <label class="control-label">CPF</label>
                    <div class="controls">
                        <input id="orgao" name="cpf_responsavel" placeholder="do Responsavel" class="input-xlarge" type="text">
                    </div>
                    <br>
                    
                    <label class="control-label">Nome</label>
                    <div class="controls">
                        <input id="orgao" name="nome_responsavel" placeholder="do responsável" class="input-xlarge" type="text">
                    </div>
                    
                </div>
            </fieldset>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success">Gravar</button>
            
        </div>
</form>
        </div>
    
