<!--modal colaboradores-->

<div id="colaboradores" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Orgão de Atendimento</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" method="post" action="/persiste">
            <fieldset>
                <!-- Text input-->

                <div class="control-group">
                  <label class="control-label">Nome</label>
                  <div class="controls">
                      <input style="height: 30px;"id="orgao" name="orgao" placeholder="do Orgão" class="input-xlarge" type="text">
                </div>
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success">Gravar</button>
</div>
</div>
